<%- include('../../shared/ejs/header', {title: 'About Us'}) %>
<!-- <link rel="stylesheet" type="text/css" href="about-us.css"> -->

<div class="container">
	<img src="../images/store.png" style="height: 4rem; width: 4rem">
	<h1>About us</h1>
	<p><b>Program:</b> eStore Manager</p>
	<p>This project is for ITSS Software Development and Structure Programming course at HUST</p>
	<p><b>Members: </b>An Nguyen, Viet-Anh, Theo.</p>
	<br>
	<p>For more information and support, please contact us at ICT K60 - Hanoi University of Science and Technology.</p>
</div>


<%- include('../../shared/ejs/footer') %>
