# TESTING DOCUMENT FOR PROJECT ESTOREMANAGER

## Desktop App testing

- For desktop app unit testing, we use mocha and chai framework for Typescript.
- Writing test for all the services and integrate it into DesktopApp Project.
- Result: DesktopApp/src/tests.

## Server Testing

- For server tesing, we write ServerTesting project to test all the apis of the server to ensure that all of them work correctly.
- Technique: javascript / mocha + chai + chakram stack.
- All the test case is designed based on the document ServerTesting/API_Testing_Scenario.md.
- Result: ServerTesting.


## System Testing (as the requirement)

- See System-TestCases.xlsx