<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= gettext.program_name %> - <%= title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../shared/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/bootswatch/dist/lumen/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/font-awesome/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/animate.css/animate.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/hamburgers/dist/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/select2/dist/css/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="../../shared/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../shared/css/main.css">
<!--===============================================================================================-->

	<!-- ============= IMPORT JQUERY ============== -->
	<!-- Insert this line above script imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<!-- normal script imports etc  -->
	<script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>
	
	<script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


	<!-- Insert this line after script imports -->
	<script>if (window.module) module = window.module;</script>

</head>
<body>