body {
    background: rgba(0,0,0,0.05);
}

.main-container {
    padding: 1rem;
}

#cashier-total-area .total-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
#cashier-total-area .total-title.title-sm {
    font-size: 1rem;
}

#cashier-total-area .total-number {
    border: none;
    border-bottom: 2px solid #333;
    font-size: 1.4rem;
    text-align: right;
    width: 15rem;
}

#cashier-total-area table {
    max-width: 100%;
}

.btn-super-lg {
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}

#tax::after {
    content: " %";
}

