<%- include('../../shared/ejs/header', {title: 'Add Employee'}) %>

<div class="container">
    <h3 class="text-center">Add Employee</h3>
    <div class="row">
        <!-- <div class="col-sm-3">
            <div class="form-group">
                <label for="employee-id">ID</label>
                <input type="text" name="employee-id" id="employee-id" placeholder="00" class="form-control">
            </div>
        </div> -->
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Viet Anh Nguyen" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="username" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="salary">Email</label>
                <input type="email" name="email" id="email" placeholder="vietanh@example.com" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" placeholder="address" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="phone">Mobile</label>
                <input type="text" name="phone" id="phone" placeholder="phone" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" name="salary" id="salary" placeholder="salary" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="position">Position</label>
                <select name="position" id="position" class="form-control">
                <option value="">--Select Position--</option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_CASHIER">Cashier</option>
                <option value="ROLE_MANAGER">Warehouse Manager</option>
                <option value="ROLE_CASHIER_AND_ROLE_MANAGER">Cashier + Warehouse Manager</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-info" id="save">Save</button>
            </div>
        </div>
    </div>
</div>



<script>
    const EventGetter = require("../../../services/EventGetter").EventGetter;

    const {ipcRenderer} = require('electron');
    $("#save").click(() => {
        let newUser = {}
        newUser.name = $("#name").val();
        newUser.username = $("#username").val();
        newUser.email = $("#email").val();
        newUser.address = $("#address").val();
        newUser.mobileNo = $("#phone").val();
        newUser.password = $("#password").val();
        newUser.name = $("#name").val();
        newUser.roles = [];

        switch ($("#position").val()) {
            case "ROLE_ADMIN": newUser.roles.push("ROLE_ADMIN"); break;
            case "ROLE_CASHIER": newUser.roles.push("ROLE_CASHIER"); break;
            case "ROLE_MANAGER": newUser.roles.push("ROLE_MANAGER"); break;
            case "ROLE_CASHIER_AND_ROLE_MANAGER":
                newUser.roles.push("ROLE_MANAGER");
                newUser.roles.push("ROLE_MANAGER");
        }

        console.log("Click Add Employee");

        ipcRenderer.send(EventGetter.get('add_employee'), newUser);
    });


    ipcRenderer.on(EventGetter.get("add_employee_success"), () => {
        ipcRenderer.send(EventGetter.get("request_update_employee_list"));
    });
</script>