<div id="secondary-menu" style="padding: 0.2rem; background: rgba(0,0,0,0.8)">
    <button type="button" vlink="WelcomeView/welcome" class="btn btn-primary">Welcome Screen</button>
    <button type="button" vlink="CashierView/cashier_ui" class="btn btn-secondary">Cashier</button>
    <button type="button" vlink="BillView/bills" class="btn btn-success">Bills</button>
    <button type="button" vlink="CustomerView/customers" class="btn btn-danger">Customers</button>
    <button type="button" vlink="InventoryView/inventory" class="btn btn-warning">Inventory</button>
    <button type="button" vlink="SuppierView/suppliers" class="btn btn-info">Suppliers</button>
    <button type="button" vlink="InventoryView/import" class="btn btn-light">ImportProducts</button>
    <button type="button" vlink="FinanceView/finance" class="btn btn-success">Finance</button>
    <button type="button" vlink="ReportView/reports" class="btn btn-dark">Reports</button>
</div>

<script>
    $(document).ready(function() {
		$("#secondary-menu button").click(function(event) {
            const {ipcRenderer} = require('electron');
            ipcRenderer.send('request_change_view', $(this).attr("vlink"));
		});
	});
</script>