.main-tab-ui > .tab-header-area .tab {
	-fx-border-radius: 0px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-padding: 12;
    -fx-background-color: rgb(255, 253, 225);
}
.main-tab-ui > .tab-header-area .tab:hover {
    -fx-border-style: solid;
    -fx-underline: true;
    -fx-border-width: 4 0 0 0;
    -fx-border-color: #AB3225;
}
.main-tab-ui > .tab-header-area .tab:hover > .tab-label {
	-fx-underline: true;
} 
.main-tab-ui > .tab-header-area .tab:selected {
    -fx-border-style: solid;
    -fx-underline: true;
    -fx-border-width: 4 0 0 0;
    -fx-border-color: #FF3300;
}
.main-tab-ui.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: none;
}

.main-tab-ui > .tab-header-area .tab .tab-label {
    -fx-text-fill: #333 ;
}
